/* font family style */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    font-family: "Open Sans", sans-serif;
}
/* fon family end */

/* universal style */
*{
    box-sizing:border-box ;
    margin:0;
    padding:0;
}
/* universal style end */
.banner-head-container{
   max-width:100%;
    height:540px;
    /* border:2px solid red; */
    background-image: url(../assets/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    border:1px solid white;
    
}
/* banner style part */
/* .boy-work-pic{
    width:126px;
    height:100px;
} */
 .banner-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top:50px;
 }
 .banner-content{
    text-align:center;
 }
 .banner-title{
    color: rgb(13, 19, 33);
    font-size: 30px;
    font-weight: 800;
    line-height: 35px;
}
.banner-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top:10px;
    

}
.btn-primary{
    padding: 11px 14px 11px 14px;
    border-radius: 4px;
    background: rgb(13, 19, 33);
    color:rgb(255, 255, 255);
}
/* banner style part end */

/* workplace container style */
.workplace-container{
    width:1300px;
    height:900px;
    border-radius: 10px;
    background-color:rgb(255, 250, 250);
    margin:0 auto;
    margin-top:100px;
    margin-bottom:100px;
}
.workplace-title{
    color: rgb(13, 19, 33);
    font-size: 26px;
    font-weight: 800;
    

}
/* shared */
.workplace-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    /* opacity:0.07; */
}
.workplace-content{
    text-align:center;
}
/* desktop-man */
.desktop-title{
    color: rgba(13, 19, 33, 0.7);
    font-size: 22px;
    font-weight: 700;
    
    
}
.desktop-description{
    color: rgb(13, 19, 33);
    font-size: 13px;
    font-weight: 400;
    margin-top:30px;

}
.desktop-man{
    width:100%;
    height:250px;
    margin-top:30px;
    display:flex;
    justify-content: space-evenly;
}
.desktop-content{
    width:40%;
    height:70%;
    margin-top:60px;
    margin-left:150px;
}
.desktop-man-pic{
    width:40%;
    height:70%;
    text-align:center;
    margin-top:55px;
}
/* btn-shared */
.btn-more{
    color: rgb(13, 19, 33);
    padding:8px 10px 8px 10px;
    font-weight:600;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top:20px;
}
.desktop-man-pic img{
    width:200px;
    height:180px;
}
/* virtual-man-style */
.virtual-man{
    width:100%;
    height:250px;
    margin-top:30px;
    display:flex;
    justify-content: space-evenly;
}
.virtual-man-pic{
    width:20%;
    height:70%;
    margin-top:30px;
    margin-left:150px;
}
.virtual-content{
    width:40%;
    height:70%;
    margin-top:30px;
    margin-right:180px;
}
.virtual-man-pic img{
    width:200px;
    height:180px;
}
.virtual-content-title{
    color: rgba(13, 19, 33, 0.7);
    font-size: 22px;
    font-weight: 700;
}
.virtual-content-description{
    color: rgb(13, 19, 33);
    font-size: 13px;
    font-weight: 400;
    margin-top:30px;
}
/* data entry man style */
.data-entry-man{
    width:100%;
    height:250px;
    margin-top:30px;
    display:flex;
    justify-content: space-evenly;
}
.data-entry-content{
    width:40%;
    height:70%;
    margin-left:150px;
    margin-top:30px;
}
.data-entry-man-pic{
    width:40%;
    height:70%;
    margin-top:30px;
    text-align:center;
}
.data-entry-man-pic img{
    width:200px;
    height:180px;
}



/* workplace style end */

/* My Inspiration part style */
.my-inspiration{
    width:1300px;
    height:600px;
    margin:0 auto;
    margin-bottom:100px;
    

}
.inspiration-title{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 800;
}
.inspiration-description{
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-top:10px;

}
.inspiration-content{
    text-align:center;
}
.iframe{
    /* text-align:center;
    margin-top:50px; */
    
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-top:54px;

}
.iframe-video{
    
    padding:25px 25px;
    margin-left:155px;
    
}
/* inspiration part style end */

/* my target part style */
.my-target{
    width:1300px;
    height:400px;
    margin:0 auto;
    margin-bottom:100px;
}
.my-target-title{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
}
.my-target-content{
    text-align:center;
}
.my-3-target{
    display:flex;
    gap:25px;
    
}
.target-title{
    color: rgb(13, 19, 33);
    font-size: 22px;
    font-weight: 700;
    margin-top:12px;

}
.target-description{
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    opacity: 0.7;
    margin-top:12px;
}
.btn{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;

    
}
.btn-head{
    margin-top:25px;
}
.target-1{
    width:420px;
    height:100%;
    padding:30px 30px 30px 30px;
    margin-top:24px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    
}
.target-2{
    width:420px;
    height:100%;
    padding:30px 30px 30px 30px;
    margin-top:24px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    
}
.target-3{
    width:420px;
    height:100%;
    padding:30px 30px 30px 30px;
    margin-top:24px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    
}
/* my current target style end */

/* feedback part style*/
.feedback{
    width:1300px;
    height:350px;
    
    margin:0 auto;
    margin-bottom:60px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),  url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 16px;
    
}
.feedback-title{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;

}
.feedback-description{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    opacity: 0.7;
    margin-top:20px;
}
.submit-head input{
    width:500px;
    padding: 12px 20px 12px 20px;
    color: rgba(13, 19, 33, 0.4);
    font-size:15px;
    font-weight:400;
}
.submit-head button{
    padding:12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    font-size: 17px;
    font-weight: 600;
    border-radius:5px;
    border:none;
}
.feedback-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:90px;
    gap:70px;
}
.feedback-content{
    text-align:center;
    margin-top:70px;
}
/* feedback part style end */

/* footer part style */
.footer{
    width:100%;
    height:100px;
    background-color: rgba(13, 19, 33, 0.03);

}
.footer-title{
    color: rgb(13, 19, 33);
    font-size: 17px;
    font-weight: 600;
    margin-top:35px;
    margin-left:130px;

}
.footer-container{
    display:flex;
    justify-content: space-between;
   
    
    
}
.footer-link{
    margin-top:30px;
    margin-right:130px;
    
}
.linkedin{
    margin-left:20px;
    
}
.facebook{
    margin-right:20px;
}
